.formControl{
	width:100%;
	margin-bottom: 30px !important;
}

.container{
	width:80%;
	text-align:left;
}

@media (max-width: 770px) {
	.container{
		width:90%;
	}
}

@media (min-width: 1500px) {
	.container{
		width:70%;
	}
}